.wrapper-annonce-creation{
    background-color: white;
    margin-top: 24px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-form{
  width: 200px;
}
