<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">New</div>
        <div class="card-description">
        <h2><%= @pokemon.name %></h2>
        <p> <%= @pokemon.description %></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>

